obj_dir/
*.vcd
*.vvp
testbench_verilator
testbench_verilator_dir/
firmware/*.o
firmware/*.elf
firmware/*.bin
firmware/*.hex
firmware/*.map
tests/*.o
shell.nix
picosoc/
dhrystone/
scripts/
synth.log
check.vcd
check.smt2
